<div class="container">
  <h1 class="title">{{ title }}</h1>

  <!-- Filter Bar -->
  <div class="filter-bar">
    <label for="category-filter">Filter by Category:</label>
    <select id="category-filter" (change)="filterByCategory($event)">
      <option value="all">All</option>
      <ng-container *ngFor="let category of categories">
        <option [value]="category">{{ category }}</option>
      </ng-container>
    </select>
  </div>

  <div class="category-container">
    <ng-container *ngFor="let category of filteredCategories">
      <ng-container *ngIf="filteredComponents[category]?.length">
        <div class="category-card ">
          <h2 class="category-title ">{{ category }}</h2>
<div class="d-flex">


          <div class="card">
              
            
            <div class="ide-code-block" >
              <pre><code [innerHTML]="highlightedCode(filteredComponents[category][currentComponentIndex[category]]?.code)"></code></pre>
            </div>



          </div>
          <iframe *ngIf="iframeSrc[category]" [src]="iframeSrc[category]" frameborder="0"></iframe>
        </div>
          <button (click)="copyToClipboard(filteredComponents[category][currentComponentIndex[category]]?.code)" class="copy-button">
            COPY
          </button>

          <div class="pagination-controls">
            <button (click)="prevPage(category)">&#8592; Previous</button>
            <button (click)="nextPage(category)">Next &#8594;</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
